.container{
  display: flex;
  flex-direction: column;
  input{
    height: 2.75rem;
  }
}

.content2{
  display: flex;
  flex-direction: column;
}

label{
  color: blue;
}

input::placeholder{
  text-transform: capitalize;
}
